/WeaponsAttributes.iml
.idea/
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/classes/fr/keykatyu/weaponsattributes/command/FixAttributesCommand.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/classes/fr/keykatyu/weaponsattributes/util/ItemBuilder.class
/target/classes/fr/keykatyu/weaponsattributes/Main.class
/target/classes/META-INF/MANIFEST.MF
/target/original-WeaponsAttributes-1.0-SNAPSHOT.jar
/target/classes/plugin.yml
/target/maven-archiver/pom.properties
/target/classes/fr/keykatyu/weaponsattributes/object/Weapon$Attribute.class
/target/classes/fr/keykatyu/weaponsattributes/object/Weapon.class
/target/WeaponsAttributes-1.0-SNAPSHOT.jar
/target/WeaponsAttributes-1.0-SNAPSHOT-remapped.jar
/target/WeaponsAttributes-1.0-SNAPSHOT-remapped-obf.jar
/target/classes/fr/keykatyu/weaponsattributes/listener/WeaponsAttributesListener.class
